/* Add your CSS to this file */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{margin: 0;
    padding: 0;
    box-sizing: border-box;}

.container {
    margin: auto;
    display: flex;
    max-width: 960px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.overview-hero-image{
    height: 200px;
    width:  250px;
    align-self:left;
    display: flex;
    padding-left: 70px;
    padding-right: 10px;
    justify-content: center;
}

.overview-hero-text h2{
    text-align:start;
    display: flex;
    padding-right: 50px;
    padding-left: 70px;
}

.overview-hero p{
    text-align:start;
    display: flex;
    padding-right: 70px;
    padding-left: 70px;
}

.overview-hero .container{
    background-color: gray;
    height: 180px;

}

.btn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    white-space: nowrap;
    padding: 13px;
}
.cards{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 1fr;
}

.testing .container{
    background-color: darkgreen;
    padding: 100px;
}

/* LEARN ABOUT SECTIONS*/
.learn-about .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
}

.learn-about > .h2 {
    display: flex;
    padding-left: 2fr;
    padding-bottom: 20px;
}
  
h1{
    text-align: left;
    font-size: 18px;
    padding-right: 30%;
}

/* THE HEADER CONTENTS*/
header .container nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}

header{
    padding: 1em 0 ;
}

li {
    list-style-type: none;
}

li a{
    padding-left: 27px;
    padding-right: 27px;
    text-decoration: none;
}



  
