/* Add your CSS to this file */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{margin: 0;
    padding: 0;
    box-sizing: border-box;}

.container {
    margin: auto;
    display: flex;
    max-width: 960px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.overview-hero-image{
    height: 200px;
    width:  250px;
    align-self:left;
    display: flex;
    padding-left: 70px;
    padding-right: 10px;
    justify-content: center;
}

.h2 overview-hero-text h2{
    text-align:start;
    display: flex;
    padding-right: 50px;
    padding-left: 70px;
}

.p .overview-hero{
    text-align:start;
    display: flex;
    padding-right: 70px;
    padding-left: 70px;
}

.overview-hero{
    background-color: gray;
    align-items: baseline;
}

.cards{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 1fr;
}

.learn-about > .h2 {
    display: flex;
    padding-left: 2fr;
}

.learn-about .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


header{
    padding: 1.75em 0 ;
}
    
h1{
    text-align: left;
    font-size: 18px;
    padding-right: 30%;
}


header .container nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

li {
    list-style-type: none;
}

li a{
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}



  
