/* Add your CSS to this file */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{margin: 0;
    padding: 0;
    box-sizing: border-box;}

.container {
    margin: auto;
    display: flex;
    max-width: 960px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.overview-hero-image{
    height: 200px;
    width:  250px;
    position: relative;
    align-self:left;
    display: flex;
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 10px;
    justify-content: center;
}

.overview-hero h2{
    text-align:start;
    display: flex;
    padding-right: 50px;
    padding-left: 70px;
    color:#48BB78;
    font-size: 24px;

}

.overview-hero p{
    text-align:start;
    display: flex;
    padding-right: 70px;
    padding-left: 70px;
}

.overview-hero .container{
    background-color:#E2E8F0;
    height: 180px;
    padding: 30px;

}


.cards{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 1fr;
    grid-gap: 15px;
    padding-bottom: 20px;
}



.learn-about .container img{
    height: 150px;
    width: 150px;
}

article .img {
    border-radius: 5px;
}

.card{
    padding-left: 5px;
    padding-left: 5px;
    border-style: solid;
    border-radius: 5px;
    padding: 20px;
    border-color: #E2E8F0;
    border-width: 4px;;
    box-shadow:4px 7px rgba(0, 0, 255, .2);
    padding-bottom: 15px;
}

.card p{
    padding-left: 5px;
    padding-left: 5px;
} 

.card-body h3{
    color:#48BB78;
    font-size:  21px;
    padding: 10px;
}

.card-body p{
    padding-left: 10px;
}

.testing .container{
    background-color: #4A5568;
    padding: 100px;
    color: white;
}

.testing p{
    padding-left: 0px;
    padding-right: 40px;
    justify-content: stretch;
}

/* LEARN ABOUT SECTIONS*/
.learn-about .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.learn-about h2 {
    display: flex;
    padding-left: 20px;
    padding-bottom: 20px;
    color:#4CAF50;
}


/* VANILLA TAGS*/
h1{
    text-align: left;
    font-size: 18px;
    padding-right: 30%;
}

/* THE HEADER CONTENTS*/
header .container nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding-right: 50px;
}

.stories h2{
    color:#5A67D8;
    font-size: 18px;
    padding-bottom: 10px;
}
header{
    padding: 1em 0 ;
    background-color: white;
    font-size: 18px;
    padding-bottom: 20px;
}

header h1{
    padding-left: 80px;
}

li {
    list-style-type: none;
}

li a{
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color:#6b7280
}

a:hover{
    color:#5A67D8;
}

/*BUTTONS*/
.cta .btn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    white-space: nowrap;
    padding: 13px;
}

/*SECTION CSS*/
.stories .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 70px;
    padding-bottom: 20px;
    padding-left: 75px;
    padding-right: 75px;
}

.stories h3,p{
    padding-left: 50px;
}

.stories p{
    
    padding-bottom: 20px;
}
.article-body a{
    color: #5A67D8; 
}

.article-body p a{
    text-decoration: none;
    padding-bottom: 5px;
}

.article-body h3{
    font-size: 18px;
    padding-bottom: 10px;
}
.stories .container img{
    border-radius: 25%;
    height: 150px;
    width: 150px;
    
}
.stories .container article{
    display: flex;
    padding:0px;
}

.stories article{
    padding-left: 75px;
    padding-top: 40px;
    padding-bottom: 20px;
}

/*NEWSLETTER SECTION*/
.newsletter .container{
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.newsletter h3{
    align-items: center;
    padding: 15px;
}

.newsletter p{
    align-items: center;
    padding: 15px;
}

.newsletter .formgroup{
    align-items: center;
    padding: 15px;
}



/*FOOTER*/
footer {
    background-color: red;
    flex-direction: row;
    align-self:flex-start;
    padding:0px;
}



  
